.profile__description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.02;
  margin-top: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .profile__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
