.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 358px;
    width: calc(100% - 2 * 199px);
    max-width: 882px;
    margin: 0 auto;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .login__welcome {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .login__form {
    display: contents;
  }
  
  .login__input {
    display: block;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: #000;
    /* box-sizing: border-box; */
    width: 100%;
    max-width: 358px;
    height: 35px;
    margin-top: 30px;
  }
  
  .login__input::placeholder {
    color: rgb(255, 255, 255);
  }
  
  .login__button-container {
    margin-top: 215px;
    background: #fff;
    border-radius: 2px;
    height: 50px;
    width: 100%;
    max-width: 358px;
    color: #000;
    box-sizing: border-box;
  }
  
  .login__button-submit {
    background: #fff;
    border-radius: 2px;
    height: 50px;
    width: 100%;
    max-width: 358px;
    color: #000;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .login__button-submit:hover {
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }
  
  .login__signup {
    width: 100%;
    max-width: 358px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
    font-size: 14px;
    font-style: normal;
    line-height: 1.1;
    font-family: Inter, sans-serif;
  }
  
  .login__signup-link {
    font-size: 16px;
    font-style: normal;
    line-height: 1.1;
    color: #fff;
    margin-left: 10px;
    font-family: Inter, sans-serif;
  }